/* *{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

video{
  position: fixed;
  top: 0;
  left: 0;
  max-height: 100%;
  max-width: 90%;
  height: 70%;
  width: 90%;
  object-fit: cover;

} */

#set-height {
  display: block;
}
#v0 {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
}